<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>后台管理中心</title>
	<link rel="stylesheet" th:href="@{/css/pintuer.css}">
	<!--<link rel="stylesheet" th:href="@{/css/admin.css}">-->
<head>
<body>
	<div class="panel admin-panel">
		<div class="panel-head">
			<strong><span class="icon-sign-in"></span> 首页</strong>
		</div>
		<div class="body-content">
		
		<h2>&nbsp;&nbsp;附近 管理后台欢迎你！</h2>
		
		</div>
	</div>
</body>
</html>